@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <section>
        <h3 class="mt-4">Our Mission</h3>
        <p>At Your Dresser, our mission is to empower administrators and sales teams by providing intuitive tools to manage customers, categories, items, and invoices efficiently. We strive to simplify business operations and enhance user experiences.</p>
    </section>

    <section>
        <h3>Our Vision</h3>
        <p>Our vision is to become the leading platform for businesses in managing their sales operations online. We aim to continually innovate, offering robust features that adapt to the evolving needs of our users. By fostering growth and reliability, we envision a future where businesses thrive through seamless digital solutions.</p>
    </section>

</main>